<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gutenbot</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container" id="container">
        <h1>Willkommen</h1>
        <div>Chatten Sie mit Gutenbot - er antwortet auf Ihre Fragen rund um das Thema Covid-19 Pandemie!</div>
        <div class="logo_container">
            <img src="resources/wvsvhack_logo.jpg" alt="wirvsvirushackathon">
        </div>
        <div class="logo_container">
            <img src="resources/ghh_logo.png" alt="Gutenberg Health Hub">
            <img src="resources/ibm_logo.jpg" alt="IBM Deutschland">
        </div>
        <div class="source_container">
            <a class="btn btn-primary" href="https://github.com/WirVsVirus-IBM/1344_ghh_corona-chatbot"><span
                    class="label label-default">Source</span> GitHub WirVsVirus-IBM / 1344_ghh_corona-chatbot</a>
        </div>
        <div class="contributors_container">
            <div><span class="label label-warning">Contributors</span> Moritz, Lars, Florian, Leo, Nils</div>
            <a href="https://covid.deepset.ai/home" target="_blank"><span
                    class="label label-warning">Powered by</span> Covid-QA</a>
        </div>
    </div>
    <script src="https://web-chat.global.assistant.watson.cloud.ibm.com/loadWatsonAssistantChat.js"></script>
    <script>
        window.loadWatsonAssistantChat({
            integrationID: "acb7a0df-52cb-4c4e-a058-d78125be7df2", // The ID of this integration.
            region: "eu-de", // The region your integration is hosted in.
            openChatByDefault: true // Open chat window by default
        }).then(function (instance) {
            instance.render();
        });
    </script>
    <footer class="footer">
        <div class="container">
            <div>Built during the <b style="font-size: 21px;">#wirvsvirushackathon</b> in March 2020 with <a
                    href="https://www.ibm.com/cloud">IBM Cloud</a></div>
        </div>
    </footer>

</body>

</html>